In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [ ]:
df_lab1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df_lab1.shape

In [ ]:
df_lab1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

df_lab1.info()

In [ ]:
df_mile_dict = [
    ["Customer", "Yes", np.nan],
    ["ST", "Yes", np.nan],
    ["GENDER", "Yes", np.nan],
    ["Education", "Yes", np.nan],
    ["Customer Lifetime Value", "No", "float64"],
    ["Income", "Yes", np.nan],
    ["Monthly Premium Auto", "No", "int64"],
    ["Number of Open Complaints", "No", "int64"],
    ["Policy Type", "Yes", np.nan],
    ["Vehicle Class", "Yes", np.nan],
    ["Total Claim Amount", "Yes", np.nan]
]

df_mile = pd.DataFrame(df_mile_dict, columns=["column_name", "appropriate_Dtype", "suggested_Dtype"])

df_mile

In [ ]:
"""
What I did above to answer the task is, I created a df with 3 columns:

1. "column_name" == column labels from the imported csv

2. "appropriate_Dtype" = "Yes" if I find the Dtype appropriate, given the data description and the preview,
    else "No"
    
3. "suggested_Dtype" = "NaN" if I don't suggest another Dtype.
"""

"""
Now let's identify the number of unique values for each column and
determine which columns appear to be categorical.
"""


df_lab1.nunique()

In [ ]:
"""
Judging by the number of unique values, the column names, Dtype, and from the data preview,
the columns appearing to be containing: """

categorical_data = ["ST", "GENDER", "Education", "Policy Type", "Vehicle Class"]

"""
Let's describe the unique values of each categorical column.
"""

for col in categorical_data:
    unique = df_lab1[col].unique()
    print(f"Unique values for {col}:\n{unique}\n")

In [ ]:
df_lab1_categorical = df_lab1[categorical_data]

df_lab1_categorical = df_lab1_categorical.describe()
df_lab1_categorical

In [ ]:
"""
What column contains what:

- "ST": 8 US states, of which 3 are duplicates, having been entered in 2 different ways:
  - "Washington vs "WA",
  - "Arizona" vs "AZ",
  - "California" vs "Cali".
The entries are not uniformed. Some are full names of the states, others are abbreviations.
The top entry is Oregon, 320 times.

- "GENDER": 5 genders, of which female is written in 3 different ways, and male in 2 ways.
With such inconsistent values, I can't say what's the ratio of genders without writing a code for it.

- "Education": 6 levels of education, of which bachelor is a duplicate.
Majority = 1/3 of the users have what they entered as a Bachelor degree.
Bear in mind that some have "Bachelors" with an "s".

- "Policy Type": the type of user's car.
2/3 of users have Personal Auto.

- "Vehicle Class"
Half the users have a Four-Door Car.
"""

"""
This dataset is largely unpopulated.
Of 4008 rows, the most populated column is "Customer" with only 1071 non-null values.
The dataset is very dirty and it may take a lot of time to clean it.
"""


"""
Let's describe the range of values for numerical columns.
"""

df_lab1_numerical = df_lab1.describe()
df_lab1_numerical

In [ ]:
Challenge 2: analyzing the data

In [ ]:
df_st = df_lab1["ST"].value_counts().tail(5).sort_values()
df_st

In [ ]:
"""
Total number of policies sold
"""

df_lab1["Policy Type"].info()

In [ ]:
"""
Total number of policies sold, per type.
"""

df_policy_type = df_lab1["Policy Type"].value_counts()
df_policy_type

In [ ]:
"""
The policy type with the highest number of policies sold.
"""

df_policy_type.idxmax()

In [ ]:
"""
The customers with Personal Auto do have a lower average income than those with Corporate Auto.
"""

df_income_personal_auto = df_lab1.loc[df_lab1["Policy Type"] == "Personal Auto", "Income"].mean()

df_income_corporate_auto = df_lab1.loc[df_lab1["Policy Type"] == "Corporate Auto", "Income"].mean()

print(f"Personal Auto avg income:  ", df_income_personal_auto)
print(f"Corporate Auto avg income: ", df_income_corporate_auto)

In [ ]:
df_claim = df_lab1["Total Claim Amount"].describe()
df_claim

In [ ]:
"""
The top 25% of the total claim amount is 532.8 so here is the information about those customers.
"""
top_claim_customers = df_lab1[df_lab1["Total Claim Amount"] > 532.8].describe(include="object")
top_claim_customers